/*
 * Copyright (c) 2026 hringdrifi
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <common/nordic/nrf52840_uf2_boot_mode.dtsi>
#include "../bifrost.dtsi"

/ {
    model = "Bifrost right";
    compatible = "hringbord,bifrost_right";

    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &code_partition;
        zmk,kscan = &kscan0;
        zmk,physical-layout = &bifrost_physical_layout;
        zmk,battery = &vbatt;
    };

    vbatt: battery {
        compatible = "zmk,battery-nrf-vddh";
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
            = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /*  0: Y    (P0.02) */
            , <&gpio0 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /*  1: U    (P0.03) */
            , <&gpio1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /*  2: I    (P1.12) */
            , <&gpio1 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /*  3: O    (P1.04) */
            , <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /*  4: P    (P1.06) */
            , <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /*  5: QUOT (P1.07) */
            , <&gpio1 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /*  6: BSLS (P1.00) */
            , <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /*  7: H    (P1.01) */
            , <&gpio0 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /*  8: J    (P0.19) */
            , <&gpio0 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /*  9: K    (P0.21) */
            , <&gpio1 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 10: L    (P1.03) */
            , <&gpio1 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 11: SCLN (P1.05) */
            , <&gpio0 23 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 12: ENT  (P0.23) */
            , <&gpio1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 13: N    (P1.10) */
            , <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 14: M    (P0.24) */
            , <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 15: COMM (P0.22) */
            , <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 16: DOT  (P0.20) */
            , <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 17: SLSH (P0.17) */
            , <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 18: UP   (P0.15) */
            , <&gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 19: RSFT (P0.13) */
            , <&gpio0 30 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 20: ESC  (P0.30) */
            , <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 21: SPC  (P0.28) */
            , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 22: LEFT (P1.11) */
            , <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 23: DOWN (P1.02) */
            , <&gpio0 25 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* 24: RGHT (P0.25) */
            ;
    };


};
/ {
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        trackball_split_0: trackball_split_0@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    trackball_listener_0: trackball_listener_0 {
        compatible = "zmk,input-listener";
        status = "disabled";
        device = <&trackball_split_0>;
    };
};
#include <zephyr/dt-bindings/input/input-event-codes.h>

&pinctrl {
    smidr_pmw3610_spi0_default: smidr_pmw3610_spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 16)>, <NRF_PSEL(SPIM_MOSI, 0, 14)>, <NRF_PSEL(SPIM_MISO, 0, 14)>;
        };
    };
};

&spi0 {
    status = "okay";
    pinctrl-0 = <&smidr_pmw3610_spi0_default>;
    pinctrl-names = "default";
    cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW /* Trackball 0 CS: P0.05 */>;
    trackball_0: pmw3610@0 {
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        spi-cpol;
        spi-cpha;
        motion-gpios = <&gpio0 26 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* Trackball 0 MOTION: P0.26 */>;
        zephyr,axis-x = <INPUT_REL_X>;
        zephyr,axis-y = <INPUT_REL_Y>;
        res-cpi = <1200>;
    };
};

&trackball_split_0 {
    device = <&trackball_0>;
};



&default_transform {
    col-offset = <24>;
};


&adc {
    status = "okay";
};



&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&gpiote {
    status = "okay";
};

zephyr_udc0: &usbd {
    status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        code_partition: partition@26000 {
            label = "code_partition";
            reg = <0x00026000 0x000d2000>;
        };

        storage_partition: partition@f8000 {
            label = "storage";
            reg = <0x000f8000 0x00008000>;
        };
    };
};
